*.aux
*.log
*.out
*.gz
*.tex
*.toc
*.dvi
notes/MorseTheory/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/2-SympLinAlg/*.jpg
notes/SympTop/3-LagMas/*.jpg
notes/SympTop/4-Width/*.jpg
notes/SympTop/5-CompStr/*.jpg
notes/SympTop/6-SympVB/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
notes/SympTop/1-HamMech/*.jpg
